/* Add CSS styling here */

header {
  background-color: RED;
  font-style: oblique;
  font-size: 40px;
  text-align: center;
  color: BLACK;
}
.topsection {
  display: table;
  text-align: center;
}
h2 {
  font-size: xx-large;
}

button:hover {
  color: greenyellow;
}

* {
  font-family: "comic sans ms";
}
.myprojects {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  justify-content: space-evenly;
  padding-left: 200px;
}
footer {
  text-align: center;
  background-color: red;
}
@media screen and (max-width: 800px) {
  header {
    background-color: greenyellow;
  }
  body {
    background-color: greenyellow;
  }
  .myprojects {
    display: table;
  }

  h2 {
    text-align: center;
    font-size: xx-large;
  }
  .buttons {
    width: 50px;
    text-align: center;
    padding-left: 150px;
  }
  button:hover {
    color: red;
  }
  footer {
    background-color: greenyellow;
    text-align: center;
    color: black;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 400px;
  }
  .header {
    width: 400px;
  }
}
